<div class="dashboard-section">
  <h3 class="title">Dashboard</h3>

  <div class="dashboard">
    <div class="alert alert-danger">
      <div class="icon-text">
        <div class="icon">
          <svg
            fill="#d9534f"
            width="50px"
            height="50px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g data-name="Layer 2">
              <g data-name="alert-circle">
                <rect width="24" height="24" opacity="0" />

                <path
                  d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 15a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0z"
                />
              </g>
            </g>
          </svg>
        </div>
        <div class="text">
          <h3>Payment Due!</h3>
          <p>
            Your last due has not been paid yet. Within 30 Sept, 2024 your
            website will be paused.
          </p>
        </div>
      </div>
      <div class="close-icon-text">
        <span class="action-danger">Action</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="15"
          height="15"
        >
          <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          />
        </svg>
      </div>
    </div>

    <div class="alert alert-warning">
      <div class="icon-text">
        <div class="icon">
          <svg
            fill="#fdc00b"
            width="50px"
            height="50px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g data-name="Layer 2">
              <g data-name="alert-circle">
                <rect width="24" height="24" opacity="0" />

                <path
                  d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 15a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0z"
                />
              </g>
            </g>
          </svg>
        </div>

        <div class="text">
          <h3>Upcoming Payment Due!</h3>
          <p>
            Please renew your subscription within 30 Sept, 2024 you have only 3
            days to payment.
          </p>
        </div>
      </div>
      <div class="close-icon-text">
        <span class="action-warning">Action</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="15"
          height="15"
        >
          <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          />
        </svg>
      </div>
    </div>

    <div class="alert alert-info">
      <div class="icon-text">
        <div class="icon">
          <svg
            fill="#2575f5"
            width="50px"
            height="50px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g data-name="Layer 2">
              <g data-name="alert-circle">
                <rect width="24" height="24" opacity="0" />

                <path
                  d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 15a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0z"
                />
              </g>
            </g>
          </svg>
        </div>

        <div class="text">
          <h3>Update Available!</h3>
          <p>
            A new update of your website is available. Please check the latest
            version 2.0 performance.
          </p>
        </div>
      </div>
      <div class="close-icon-text">
        <span class="action-info">Action</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="15"
          height="15"
        >
          <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          />
        </svg>
      </div>
    </div>

    <div class="alert alert-success">
      <div class="icon-text">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            height="45px"
            width="45px"
            fill="green"
          >
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </div>

        <div class="text">
          <h3>Payment Success!</h3>
          <p>
            Thank you for your payment. Enjoy subscription and an update is
            available.
          </p>
        </div>
      </div>
      <div class="close-icon-text">
        <span class="action-success">Action</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="15"
          height="15"
        >
          <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
