<div class="alert-box">
  <div class="alert-content">
    <div class="icon-text">
      <div class="icon">
        <svg
          fill="#d9534f"
          width="60px"
          height="60px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g data-name="Layer 2">
            <g data-name="alert-circle">
              <rect width="24" height="24" opacity="0" />

              <path
                d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 15a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div class="text">
        <h3>Payment Due!</h3>
        <p>
          Your last due has been not paid yet. If you not clear your due within
          30 sept, 2024 your website will be paused. Your due has been not paid
          yet. If you not clear your due within 30 sept, 2024 your website will
          be paused.
        </p>
      </div>
    </div>
  </div>
  <div class="btn-div">
    <a href="#" class="payment-btn"
      >Go to Payment Page
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 512"
        width="16"
        height="16"
        fill="white"
      >
        <path
          d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
        /></svg
    ></a>
  </div>
</div>
